@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  max-width: 100%;
  min-width: 510px;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  margin-bottom: 0;
  margin-left: 0;
  /* padding: 20px; */
  font-family: 'Concert One', cursive;
  font-weight: normal;
  overflow-x: hidden;
}

header {
  max-width: 100%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 5px solid black;
}

.navigationtext {
  font-size: 2rem;
  font-weight: bold;
  justify-self: flex-start;
  padding-left: 40px;
}

.navigationtext a {
  text-decoration: none;
  color: #000;
}

.navbar ul {
  list-style-type: none;
}

.navlist {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
  column-gap: 10px;
}

.navitem {
  font-size: 1.5rem;
  cursor: pointer;
}

.navline {
  font-weight: bolder;
  font-size: 2rem;
}

main {
  width: 100%;
}

.Pagetitle {
  display: flex;
  justify-content: center;
}

.bookDisplay {
  border: 3px solid #000;
  margin: 0 auto;
  width: 80%;
  overflow-x: hidden;
  display: none;
}

.bookDisplay span {
  color: red;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: center;
}

article {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

article h2 {
  max-width: 50%;
  min-width: 50%;
  padding-left: 6px;
}

article p {
  max-width: 25%;
  min-width: 25%;
}

article .delButton {
  display: flex;
  background-color: white;
  box-shadow: 0 8px 5px 1px rgba(0, 0, 0, 0.9);
  border: 2px solid #000;
  max-width: 15%;
  min-width: 15%;
  justify-content: center;
}

article:nth-child(odd) {
  background-color: rgb(212, 212, 212);
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  width: fit-content;
  margin: 0 auto;
  display: none;
}

.form-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.form input {
  border: 2px solid black;
}

.form button {
  display: flex;
  background-color: white;
  box-shadow: 0 8px 5px 1px rgba(0, 0, 0, 0.9);
  border: 2px solid #000;
  justify-self: right;
  margin-left: 130px;
}

.contact {
  margin: 0 auto;
  width: 80%;
  overflow-x: hidden;
  font-size: 1.4rem;
  /* display: none; */
}

.copyright {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 85%;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 4px solid black;  
}

.copytext {
  font-size: 1.5rem;
  padding-left: 15px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: rgb(122, 122, 122);
  justify-self: end;
}
